.login-container{
    max-width: 600px;
    height: auto;
    margin: 60px auto 0;
}
.login-cover{
    padding: 15px;
    border: 1px solid #ccc;
}
.error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 4px
}
.login-button{
    padding-top: 10px;
    text-align: right;
}
button{
    width: 100px;
}