.app-container, .main-container{
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  height: 100%;
  width: 100%;
}
.main-container{
  height: 100%;
  width: 100%;
  top:0;
  bottom:0;
  overflow:hidden;
}

.loader-cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: #656565;
  display: none;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #708797;
  width: 120px;
  height: 120px;
  margin: 15% auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}  
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}